@use "./input.scss";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

@font-face {
  font-family: "BrittanySignature"; /*a name to be used later*/
  src: url("./BrittanySignature.ttf"); /*URL to font*/
}

:root {
  --rgb-oranje: 224, 138, 80;
  --rgb-roze: 145, 69, 87;
  --rgb-paars: 161, 146, 174;
  --clr-oranje: rgb(var(--rgb-oranje));
  --clr-roze: rgb(var(--rgb-roze));
  --clr-paars: rgb(var(--rgb-paars));
  --clr-background-muted: rgb(196, 195, 197);

  --clr-text: #1e1e1e;
  --clr-text-light: #e3e3e3;
  --ff-heading: "Abril Fatface", serif;
  --ff-base: "Open Sans", sans-serif;
  --ff-extra: "BrittanySignature", sans-serif;

  --fs-200: clamp(0.56rem, calc(0.87rem + -0.4vw), 0.79rem);
  --fs-300: clamp(0.8rem, calc(0.92rem + -0.16vw), 0.89rem);
  --fs-400: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
  --fs-500: clamp(1.1rem, calc(0.96rem + 0.81vw), 1.48rem);
  --fs-600: clamp(1.27rem, calc(0.92rem + 1.71vw), 2.25rem);
  --fs-700: clamp(1.42rem, calc(0.81rem + 3.06vw), 3.18rem);
  --fs-800: clamp(2.5rem, calc(0.89rem + 6.04vw), 7.5rem);
  --fs-900: clamp(1.8rem, calc(0.22rem + 7.93vw), 6.36rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 2px solid lime;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

body {
  background-color: var(--clr-roze);
  line-height: 1.6;
  font-size: var(--fs-400);
  color: var(--clr-text);
  font-family: var(--ff-base);
}

section {
  background-color: var(--clr-background-muted);
  > * {
    margin-inline: auto;
    max-width: 1024px;
  }

  &:nth-of-type(even) {
    background-color: inherit;
  }
}

.roze {
  color: var(--clr-roze);
}
.oranje {
  color: var(--clr-oranje);
}
.paars {
  color: var(--clr-paars);
}

.text-light {
  color: var(--clr-text-light);
}
.text-dark {
  color: var(--clr-text);
}

h1,
h2,
h3 {
  font-family: var(--ff-heading);
  line-height: 1.2;
  letter-spacing: 1px;
}

h1 {
  font-size: var(--fs-800);
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--clr-oranje);
}

h2 {
  font-size: var(--fs-700);
  color: var(--clr-roze);
}

h2.large {
  font-size: var(--fs-900);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h3 {
  font-size: var(--fs-500);
  color: var(--clr-roze);
}

p {
  letter-spacing: 1px;
}

strong {
  font-weight: 900;
}

a {
  color: var(--clr-roze);
  text-decoration: none;
  font-weight: 600;

  &:hover,
  &:focus-within {
    text-decoration: underline;
  }
}

.block-title {
  position: relative;
}
.text-subtle {
  font-family: var(--ff-extra);
  font-size: var(--fs-600);

  position: absolute;
  top: -20px;
  left: -35px;
}
.countdown {
  font-size: var(--fs-900);
}

.brand-logo {
  filter: invert(62%) sepia(7%) saturate(799%) hue-rotate(229deg)
    brightness(96%) contrast(91%);
  max-height: 250px;
  margin: auto;
}

@media (max-width: 50em) {
  .brand-logo {
    height: 150px;
  }
}
.hr-line {
  height: 2px;
  width: 35%;
  background-color: var(--clr-oranje);
  display: block;
  margin: auto;
  transform: rotate(-1deg);
}
header {
  height: 100svh;
  text-align: center;

  h2 {
    color: var(--clr-oranje);
  }
}

header {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0 100%);
}
section {
  clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
  padding: 3rem;
}

@media (max-width: 50em) {
  section {
    padding: 3rem 1rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;

  transition: background 200ms ease-in, color 200ms ease-in;

  &:hover,
  &:focus-within {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-primary {
    background-color: var(--clr-roze);
    color: var(--clr-text-light);

    &:hover,
    &:focus-within {
      outline: 2px solid var(--clr-roze);
      color: var(--clr-roze);
    }
  }
  &-secondary {
    background-color: var(--clr-oranje);
    color: var(--clr-text-light);

    &:hover,
    &:focus-within {
      outline: 2px solid var(--clr-oranje);
      color: var(--clr-oranje);
    }
  }
}

.save-the-date {
  display: grid;
  margin: 4rem 0;
  align-content: space-evenly;

  > * {
    margin-bottom: 1em;
  }

  &--end {
    display: grid;
    gap: 1rem;
  }
}
.image {
  height: 100%;
  overflow: hidden;
  filter: brightness(0.75);
}

@media (max-width: 50em) {
  .image {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .save-the-date {
    margin: 1rem 0;
  }
}
.card,
.text {
  padding: 2rem 4rem;
  margin-block: 10rem;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  .card-text {
    display: grid;
    gap: 1rem;
    grid-template-rows: max-content auto max-content;

    .card-heading {
      position: relative;
    }

    .card-footer {
      ul {
        list-style-type: none;
        display: flex;
        gap: 0.5rem;

        li::after {
          content: " \00B7";
        }
      }
    }
  }
  .card-image {
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.text {
  max-width: 78ch;
}

@media (max-width: 50em) {
  .card,
  .text {
    padding: 2rem;
  }

  .card {
    grid-template-columns: 1fr;
  }

  .backdrop-text {
    padding: 3rem;
  }
}

.backdrop {
  background-image: url(../img/lolasevents-colorful-tafelstyling.jpg);
  background-position: center;
  background-size: cover;

  .backdrop-text {
    background-color: rgba(var(--rgb-paars), 0.3);
    border-radius: 2rem;
    backdrop-filter: blur(25px);

    padding-top: 3rem;
  }
}

.ceremoniemeesters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem 0;

  a {
    color: var(--clr-text);
    font-weight: 400;
  }
  .person {
    position: relative;
  }

  .person::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--clr-roze);
    left: -15px;
  }
}
