---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import Riley from "../img/heart-529607_1280.jpg";
import ProgramCard from "../components/ProgramCard.astro";
import SigninForm from "../components/SigninForm.astro";
import FAQCard from "../components/FAQCard.astro";
---

<Layout title="Loek en Nicolien gaan trouwen!">
  <main>
    <header class="wrapper">
      <div class="image">
        <img src="img/wedding.jpg" alt="" />
      </div>
      <div class="save-the-date">
        <h1>Loek<br />&<br />Nicolien</h1>

        <div class="save-the-date--end">
          <span class="hr-line"></span>
          <h2>17.05.2025</h2>
        </div>
      </div>
    </header>

    <section id="informatie">
      <div class="card">
        <div class="card-text">
          <div class="card-heading">
            <h2>Informatie</h2>
            <p class="text-subtle paars">Vier de liefde!</p>
          </div>
          <div class="card-body">
            <p>
              We’re thrilled to invite you to celebrate our wedding in the heart
              of Friesland. Our website is your go-to source for all the
              essential details, including the event schedule, venue
              information, dress code, RSVP options, and travel arrangements. We
              look forward to sharing this beautiful day with you and creating
              unforgettable memories together!
            </p>
          </div>
          <div class="card-footer">
            <p>Meer informatie over:</p>
            <ul>
              <li><a href="#programma">Programma</a></li>
              <li><a href="#aanmelden">Aanmelden</a></li>
              <li><a href="#thema">Thema</a></li>
              <li><a href="#locatie">Locatie</a></li>
            </ul>
          </div>
        </div>
        <div class="card-image">
          <Image src={Riley} alt="" />
        </div>
      </div>
    </section>

    <section id="aanmelden">
      <div class="text">
        <div class="block-title">
          <h2 class="oranje">We horen graag of je erbij bent!</h2>
          <p class="text-subtle paars">Vier met ons!</p>
        </div>
        <SigninForm />
      </div>
    </section>

    <section id="thema" class="backdrop">
      <div class="text backdrop-text">
        <div class="block-title">
          <h2>Thema</h2>
          <p class="text-subtle oranje">Vier de vreugde!</p>
        </div>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quos
          rem laborum ducimus quod assumenda numquam inventore veritatis,
          consequuntur, voluptatum voluptatem nulla nobis atque ipsa dolores
          minus dolore asperiores dicta illo. Harum illo officiis at soluta
          aspernatur eum reiciendis aperiam qui sed, consectetur dolore eius
          provident autem beatae voluptatem suscipit, quidem modi ratione,
          ducimus assumenda magni explicabo aliquam. In, suscipit?
        </p>
        <a
          href="https://pin.it/1KDGLpjst"
          class="btn btn-primary"
          target="_blank">Bekijk het Pinterest board</a
        >
      </div>
    </section>

    <section id="locatie">
      <div class="card">
        <div class="card-text">
          <div class="block-title">
            <h2 class="oranje">Locatie</h2>
            <p class="text-subtle paars">Vier het samenzijn!</p>
          </div>
          <p class="text-light">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi quos
            rem laborum ducimus quod assumenda numquam inventore veritatis,
            consequuntur, voluptatum voluptatem nulla nobis atque ipsa dolores
            minus dolore asperiores dicta illo. Harum illo officiis at soluta
            aspernatur eum reiciendis aperiam qui sed, consectetur dolore eius
            provident autem beatae voluptatem suscipit, quidem modi ratione,
            ducimus assumenda magni explicabo aliquam. In, suscipit?
          </p>
        </div>
        <div class="card-image">
          <Image src={Riley} alt="" />
        </div>
      </div>
    </section>

    <section id="programma">
      <div class="text">
        <div class="block-title">
          <h2>Programma</h2>
          <p class="text-subtle paars">Vier het geluk!</p>
        </div>

        <p>
          Kom mee in onze bubbel en laat je heel de dag meenemen tot het einde
          van avond. Het exacte programma laten we dus ook niet weten. Dit zijn
          in hoofdlijnen het progamma.
        </p>
        <br />
        <ProgramCard />
        <ProgramCard />
        <ProgramCard />
      </div>
    </section>
    <section id="faq">
      <div class="text">
        <div class="block-title">
          <h2 class="oranje">Pratische informatie</h2>
        </div>
        <FAQCard
          title="Speeches"
          body="Wij vinden speeches en ludieke acties super leuk! De dag zit vol met bijzondere en leuke momenten, dus overleg even met de ceremoniemeester. Contactgegevens staan onderaan deze pagina."
        />
        <FAQCard
          title="Parkeren"
          body="Er is voldoende parkeergelegenheid bij onze trouwlocatie, dus kom gerust met de auto."
        />
        <FAQCard
          title="Speeches"
          body="Wij vinden speeches en ludieke acties super leuk! De dag zit vol met bijzondere en leuke momenten, dus overleg even met de ceremoniemeester. Contactgegevens staan onderaan deze pagina."
        />
      </div>
    </section>

    <section id="ceremonie" class="backdrop">
      <div class="text backdrop-text">
        <div class="block-title">
          <h2>Ceremoniemeesters</h2>
          <p class="text-subtle oranje">Vier de vreugde!</p>
        </div>
        <p>
          Om alles op onze grote dag in goede banen te laten lopen hebben we
          twee ceremoniemeesters gevraagd. Zij zullen het aanspreekpunt zijn van
          de dag. Mocht je iets van tevoren willen weten, vraag het aan hen.
        </p>

        <div class="ceremoniemeesters">
          <div class="person">
            <h3 class="oranje">Danique Touw</h3>
            <p>06-12345678</p>
            <a href="mailto:bruiloftloekennicolien@gmail.com"
              >bruiloftloekennicolien@gmail.com</a
            >
          </div>
          <div class="person">
            <h3 class="oranje">Art van Eeden Petersman</h3>
            <p>06-12345678</p>
            <a href="mailto:bruiloftloekennicolien@gmail.com"
              >bruiloftloekennicolien@gmail.com</a
            >
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
