---
import Layout from "../layouts/Layout.astro";

import Countdown from "../components/Countdown.astro";

import Logo from "../svg/logo.astro";
---

<Layout title="Save the date!">
  <main>
    <div class="wrapper">
      <div class="image">
        <img src="img/wedding.jpg" alt="" />
      </div>
      <div class="save-the-date">
        <h1>Save the date</h1>

        <img src="logo.svg" alt="" class="brand-logo" />
        <p>Loek en Nicolien</p>

        <span class="hr-line"></span>
        <h2 class="large">17.05.2025</h2>

        <div class="countdown">
          <Countdown />
        </div>

        <p>Meer info volgt snel!</p>
      </div>
    </div>
  </main>
</Layout>
