---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paklijst - Bruiloft Loek en Nicolien">
  <main>
    <section
      class="backdrop"
      style="height: 550px;background-image: url(./img/slapen.jpg);"
    >
    </section>
    <section id="paklijst">
      <div class="text text-light">
        <div class="block-title">
          <h2 class="oranje">Paklijst</h2>
          <p class="text-subtle paars">Lekker blijven slapen!</p>
        </div>
        <p>
          Voor degenen die op de locatie blijven slapen, is het belangrijk om
          voorbereid te zijn. De locatie biedt basisvoorzieningen, waaronder een gedeelde badkamer, maar het is
          raadzaam om het volgende mee te nemen:
        </p>
        <ul>
          <li>Beddengoed (slaapzak, kussensloop, hoeslaken)</li>
          <li>Toiletartikelen (tandenborstel, tandpasta, zeep, etc.)</li>
          <li>Handdoeken</li>
          <li>Extra kleding voor de ochtend</li>
          <li>Eventuele medicijnen</li>
          <li>Oordoppen wanneer je slecht tegen gesnurk kan</li>
          <li>Je favoriete knuffel(s)</li>
          <li>Slippers voor de douche</li>
        </ul>

        <p>
          Het is mogelijk om een linnenpakket te huren. De kosten hiervan zijn
          &euro;22,-. Mocht je hier gebruik van willen maken, laat dit dan zo
          snel mogelijk weten, dan reserveren we deze alvast voor je en zorgen
          we dat deze op je kamer klaar liggen bij aankomst.
        </p>

        <p>
          De mensen die we een kamer naast de feestlocatie hebben aangeboden zit
          het linnenpakket inclusief handdoeken in de prijs inbegrepen. In deze kamers is eigen
          sanitair aanwezig.
        </p>

        <p>
          Houd er rekening mee dat de avonden fris kunnen zijn, dus warme
          kleding is aan te raden.
        </p>
        <p>
          Voor degenen die in de buurt overnachten, vergeet niet om eventuele
          reserveringen te bevestigen en de locatie van je accommodatie te
          controleren. Vergeet ook vooral niet aan te geven of je met ons
          ontbijt tijdens de <a href="/#aanmelden">aanmelding</a>
        </p>
        <p>
          Voor degenen die op de parkeerplaats overnachten, houd er rekening mee
          dat er geen stroom is.
        </p>
      </div>
    </section>
  </main>
</Layout>
