---
const { title, body } = Astro.props;
---

<div class="info-card">
  <h3 class="info-card__title oranje">{title}</h3>
  <p class="info-card__body text-light" set:html={body} />
</div>

<style lang="scss">

</style>
