---
const { title, body } = Astro.props;
---

<div class="info-card">
  <h3 class="info-card__title oranje">{title}</h3>
  <p class="info-card__body text-light" set:html={body} />
</div>

<style lang="scss">
  .info-card {
    display: grid;
    gap: 0.5rem;
    margin: 0.75rem 0;
  }
</style>
