---
const { title, time, body } = Astro.props;
---

<div class="program-card">
  <div class="program-card--time text-light">12:30</div>
  <div class="program-card--text">
    <h3 class="program-card--text__title">Ontvangst</h3>
    <p class="program-card--text__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, dolorum?
    </p>
  </div>
</div>

<style lang="scss">
  .program-card {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    margin: 0.5rem 0;

    &--time {
      background-color: var(--clr-paars);
      align-self: start;
      padding: 0.75rem;
      border-radius: 0.5rem;
      font-weight: 600;
    }
  }
</style>
