---
const { title, time } = Astro.props;
---

<div class="program-card">
  <div class="program-card--time text-light">12:30</div>
  <div class="program-card--text">
    <h3 class="program-card--text__title">Ontvangst</h3>
    <p class="program-card--text__body">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat, dolorum?
    </p>
  </div>
</div>
