---
const { title, time, text } = Astro.props;
---

<div class="program-card">
  <div class="program-card--time text-light">{time}</div>
  <div class="program-card--text">
    <h3 class="program-card--text__title">{title}</h3>
    <div class="program-card--text__body" set:html={text} />
  </div>
</div>

<style lang="scss">
  .program-card {
    display: grid;
    grid-template-columns: min-content auto;
    gap: 1rem;
    margin: 1.5rem 0;

    &--time {
      background-color: var(--clr-paars);
      align-self: start;
      padding: 0.75rem;
      border-radius: 0.5rem;
      font-weight: 600;
    }
  }
</style>
