---

---

<form action="submit" class="text-light">
  <div class="input-wrapper">
    <label for="naam">Je naam(en)</label>
    <input type="text" id="naam" />
    <p>Graag met achternaam om misverstanden te voorkomen</p>
  </div>
  <div class="input-wrapper">
    <label for="email">Je email</label>
    <input type="email" id="email" />
  </div>
  <div class="input-wrapper">
    <label for="rsvp">Ben je erbij?</label>
    <select name="rsvp" id="rsvp">
      <option value="ja">ja</option>
      <option value="nee">nee</option>
      <option value="mischien">misschien</option>
    </select>
  </div>
  <div class="input-wrapper">
    <label for="allergien">Allergien waar we rekening mee moeten houden?</label>
    <input type="text" name="allergien" id="allergien" />
  </div>

  <div class="input-wrapper">
    <label for="opmerking">Heb je nog andere opmerkingen?</label>
    <textarea name="opmerkingen" id="opmerkingen"></textarea>
  </div>

  <div role="button">Aanmelden</div>
</form>
