---

---

<div class="tilted-line">
  <svg
    width="1816"
    height="112"
    viewBox="0 0 1816 112"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_3_56)">
      <path
        d="M13 94.968L1802.39 9.261"
        stroke="#A192AE"
        stroke-width="18"
        stroke-linecap="round"></path>
    </g>
    <defs>
      <filter
        id="filter0_d_3_56"
        x="-0.000244141"
        y="0.260803"
        width="1815.39"
        height="111.707"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_3_56"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_3_56"
          result="shape"></feBlend>
      </filter>
    </defs>
  </svg>
</div>
